@import url("https://fonts.googleapis.com/css2?family=Chewy&family=Homemade+Apple&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
	background-color: #fdfd96;
}

.navbar {
	display: flex;
	align-items: center;
	padding-left: 50px;
	padding-right: 50px;
	justify-content: space-between;
	background-color: #6b2d3e;
	border-radius: 999px;
	color: #fce4ec;
}

.active {
	background-color: #fdfd96;
	color: #6b2d3e;
	border-radius: 999px;
	padding-left: 10px;
	padding-right: 10px;
}

h1 {
	font-size: 2rem;
}

.nav-items {
	display: flex;

	align-items: center;
	justify-content: space-between;
	gap: 20px;
	position: sticky;
}

span {
	font-size: 1.5rem;
}

.hero {
	display: flex;
	align-items: center;
	justify-content: space-around;

	flex-direction: row;
	height: 100%;
	max-height: 100%;
}

.info {
	display: flex;
	flex-direction: column;
	color: #8b5e6e;
}

.bubble {
	font-size: 5rem;
}

.bubble-info {
	max-width: 55ch;
	font-size: 1.5rem;
}

.btn-container {
	display: flex;
	align-items: start;
}

.buy {
	font-size: 1.5rem;
	font-size: 32px;
	font-weight: 500;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 25px;
	padding-bottom: 25px;
	border-radius: 999px;
	border: none;
	cursor: pointer;
	letter-spacing: 0.01em;
	background-color: #f7c5d5;
	color: #6b2d3e;
}

img {
	width: 120%;
}

.chewy-regular {
	font-family: "Chewy", system-ui;
	font-weight: 400;
	font-style: normal;
}
